{% extends "base.html" %}
{% block title %} Новая запись от {{ user.username }} {% endblock %}
{% block header %} Создайте новую запись скорее! {% endblock %}
{% block content %}
{% load user_filters %}

    <form method="post" action="{% url 'new_post' %}" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
            <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                <div class="col-md-6">
                    {{ field|addclass:"form-control" }}

                    {% if field.help_text %}
                        <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <button type="submit"> Запостить </button>
    </form>

{% endblock %}
